

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
   
    .form-control {
        display: block;
        position: relative;
        margin-bottom: 0.5em;
        background: rgb(240, 240, 240);
        border-radius: 0.5em;
        overflow: hidden;
        padding: 0.25em 0.75em;
        width: 75%;

        
        .form-label {
            position: absolute;
            left: 0;
            display: block;
            padding: 0.75em 0.75em;
            top: 0;
            transition: all 0.3s ease;
            font-weight: bold;
            font-size: 1em;
            transform: translateY(0);
        }

        .form-input {
            background: transparent;
            appearance: none;
            border: none;
            outline: none;
            font-size: 1.25em;
            display: block;
            margin-top: 0.75em;
            width: 100%;

            &:focus + .form-label,
            &:not(:placeholder-shown) + .form-label {
                transform : translateY(-0.5em);
                font-size: 0.75em;
                color: rgb(0, 38, 255);
            }

        }

        
    }
       button {
           padding: 0.75em;
           width: 50%;
           font-weight: bold;
           transition: all 0.2s ease;
           border: 2px solid rgb(0, 38, 255);
           background:white;
           border-radius: 0.5em;
           color: rgb(0, 38, 255);;
           margin: 0.25em 0.5em;
           cursor: pointer;

           &:hover {
               background: rgb(0, 38, 255);
               color:white;
               width: 75%;
               box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
           }
       }

       .error {
            border: 2px solid red;
       }

       

}