body {
    background: white;
}

.auth-container {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% + 100px);
    transition: all 0.2s ease-in-out;
    background: white;

   .auth-button {
        position: absolute;
        bottom: 1em;
        border-radius: 50%;
        padding: 0.5em 0.75em;
        right: 1em;
        color: rgb(0, 38, 255);
        background: white;
        cursor: pointer;
        border: 2px solid rgb(0, 38, 255);
        transition: all 0.2s ease;
        
        &:hover {
            background:rgb(0, 38, 255);
            color: white;
            transform: scale(1.1);
        }
   }
}

.header-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    background:linear-gradient(to right, rgb(0, 38, 255), white);

    .header {
        font-size: 3em;
        max-width: 200px;
        background: transparent;
    }
}