.camera-field {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    & > video, & > canvas {
        left: -56px;
        max-height: 400px;
    }

    &__btn {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            i {
                font-size: 32px;
            }
        }
    }
}

.feelings-card, .location-field {
    form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .input-cg {
            margin-left: 0;
            margin-right: 0;
            width: 93%;
        }

        .btn {
            margin-left: .75em;
        }
    }
}