.right-side {
    position: fixed; 
    right: 0;
    top: 60px;
    width: $header-side-width;
    padding: .5em;

    &__wrapper {
        width: 100%;
        
        & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > div {
                display: flex;
            }
        }
    }

    li {
        padding: 1em;
        display: flex;
        align-items: center;
        gap: .5em;
        color: black;
        font-weight: bold;
        border-radius: $border-radius-4;
        @extend %ease;

        &:hover {
            background: $white-color-1;
            box-shadow: $box-shadow-medium;
        }
    }
}