/**
* @desc         icon styles.
* @requires     none
*/

.icon-cg {
  margin: 0;
  margin-right: 10px;
  color: $primary-light-color;
  
  &.xxs {
    width: 10px;
  }
  &.xs {
    width: 15px;
  }
  &.sm {
    width: 28px;
    font-size: $font-s-large;
  }
  &.md {
    font-size: $font-s-xxxlarge;
  }
  img {
    width: 100%;
  }
}
